bookingdetail {
  display: flex;
  gap: 20px;
  margin: 0 10%;
}

tabledetail,
guestcontact {
  display: flex;
  flex-direction: column;
  flex: 1.5;
  padding: 20px 40px;
  background-color: #495e57;
  border-radius: 10px;
}

tabledetail > h1,
guestcontact > h1 {
  font-size: 26px;
  text-align: center;
  margin-top: 0;
}
tabledetail p {
  margin-top: 0;
}

guestcontact {
  flex: 2.5;
  /* padding: 20px 30px; */
}

.btn-change {
  margin: 16px 20%;
  font-size: 18px;
  height: 30px;
  border-radius: 15px;
  background-color: #f4ce14;
  border-style: none;
  font-family: "Karla", sans-serif;
  font-weight: 700;
}

fieldset {
  border: 0;
  margin: 0 0 16px 0;
  padding: 0;
  font-weight: bold;
  font-family: "Karla", sans-serif;
}

.fullname {
  display: flex;
}

.name,
.email,
.phone,
.requests {
  font-size: 14px;
  font-weight: 500;
  width: 25%;
  height: 22px;
  margin-left: 5px;
  flex: 1;
  border: 0;
  border-radius: 5px;
  padding: 0 0 0 8px;
  font-family: "Karla", sans-serif;
}

.lname {
  margin-left: 10px;
  align-content: center;
}

.email {
  width: 80%;
}
.phone {
  width: 64%;
}
.sp-request {
  display: flex;
  flex-direction: column;
  overflow: visible;
}

.requests {
  width: 100%;
  height: 100%;
  margin: 10px 0 0 0;
  padding-top: 8px;
  position: relative;
  resize: none;
  overflow: auto;
}

.btn-confirm {
  font-size: 18px;
  height: 30px;
  width: 40%;
  border-radius: 15px;
  background-color: #f4ce14;
  border-style: none;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  margin: 0 30%;
}
.FieldError {
  position: absolute;
  margin-left: 20%;
  margin-top: 0 !important;
  color: rgb(207, 30, 30);
  font-size: 12px;
  background-color: #f4ce14;
  padding: 5px 15px;
  border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
