header {
  height: 100%;
}
article {
  display: flex;
  justify-content: space-between;
  background-color: #495e57;
  height: 80%;
}
section {
  flex: 0.5;
  margin: 45px 5% 0 5%;
  font-family: "Karla", sans-serif;
}
.hero-text h1 {
  font-size: 68px;
  font-family: markazi Text;
  color: #f4ce14;
  padding-left: 12%;
  margin: 10px 0 0 0;
}
.hero-text h3 {
  font-size: 40px;
  color: #ffffff;
  padding-left: 12%;
  margin: 0;
}
.hero-text > p {
  font-size: 24px;
  color: #ffffff;
  padding-left: 12%;
  margin: 10px 0 8% 0;
  font-weight: 600;
}
.hero-text button {
  height: 40px;
  width: 240px;
  margin-left: 12%;
  background-color: #f4ce14;
  border-style: none;
  border-radius: 15px;
  font-family: "Karla", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

section img {
  height: 430px;
  border-radius: 10px;
  margin: 20px 10% 10% 10%;
  justify-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}
